# Carpetas de compilacion de .NET / VS
bin/
obj/

# Archivos de configuracion de Visual Studio / VS Code
.vs/
.vscode/
.wix/
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos temporales generados por la aplicacion
navigation_log.txt
crash.txt
tweakStates.json

# Instaladores y comprimidos
*.cab
*.msi
*.wixpdb
*.zip
*.rar
*.7z

# Carpetas externas e integraciones
esteroides/
.firebase/
